.img {
  object-fit: cover;
  border-radius: 14px;
  display: block;
}

.item {
  display: flex;
  width: 274px;
  height: 426px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 28px;
  flex-shrink: 0;
  position: relative;
}
.title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn {
  display: flex;
  width: 274px;
  height: 44px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  border: transparent;
  background: #3470ff;
  transition: all ease-in 250ms;
  cursor: pointer;
}

.btn:hover {
  background: #0b44cd;
}

.checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
}

.heart_span {
  position: absolute;
  top: 10px;
  right: 10px;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  position: absolute;
  top: 1px;
  right: 1px;
}
