.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 289;
}

.content {
  position: relative;
  padding: 40px 20px;
  overflow: hidden;
  border-radius: 5px;
  width: 541px;
  max-height: 752px;
  border-radius: 24px;
  background: white;
  h1 {
    font-size: 2rem;
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.title {
  height: 31px;

  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  width: 280px;
  margin: 0 auto 32px;
}
.btn {
  display: inline-flex;
  padding: 12px 50px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #3470ff;
}

.img {
  object-fit: cover;
  border-radius: 14px;
  display: block;
}

.top_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
