:root {
  font-family: Manrope;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: rgb(215, 215, 215);

  width: 1280px;
  margin: 0 auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

.body_container {
  margin-top: 100px;
}

.active {
  font-weight: 700;
}
